.my-menu .ant-menu-item-selected {
    background-color: transparent;
}
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected {
    background-color: transparent;
}

.ant-menu-item-selected {
    background-color: transparent !important;
}

.ant-modal-close {
    display: none;
}

.ant-modal .ant-modal-content {
    background-color: #001529
}

.ant-empty-description {
    color: white !important;
}

.ant-input {
    background-color: rgb(248,202,0);
    color: #001529;
    font-weight: bold;
    font-style: italic;
}