.swiper {
    width: 90%;
    padding-bottom: 50px;
}

.swiperSlide {
    width: 800px;
    height: 400px;
    background-color: rgba(50, 70, 90, 0.3);
}

.swiperSlideMobile {
    width: 200px;
    height: 50px;
    background-color: rgba(50, 70, 90, 0.3);
}

.swiperSlideImg {
    display: block;
    width: 100%;
}